body{
	padding:0;
	margin:0;
}

header{
	display:flex;
	justify-content: space-between;
	background-color: grey;
}
.conteudo{


}
.table{
		display: table;
}
#row{
	display: table-row;
}

#cell_1{
		display: table-cell;
		background-image: url('img/ww.jpg');
		background-repeat: no-repeat;
		background-size: cover;
}

#cell_2{display: table-cell;}

#cell_3{display: table-cell;}
h2{

	font-family:cursive;
}
.image{
	width: 400px;height: 150px;
}


ul{
	list-style: none;
	display: inline-flex;
}
li{
	margin:10px;
}
a {
	text-decoration: none;
	color:black;
	font-size:15px;
}
 .conteudo{
 	padding: 0;
 	margin: 50;
 	display: flex;
 }
@media only screen and(max-device-width:900px){
.conteudo{ width: 90px; }
}